/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap'); */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}
body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #bfe8bc;
    height: 100vh;
}
.calc_display{
    height: 40px;
    width: 280px;
    background-color: #ededed;
    border-radius: 10px;
}
.calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ff2525;
    padding: 20px 20px;
    box-shadow: 6px 6px 0px #ffffff;
    border-radius: 30px;
}
.calc_key_container{
    border-radius: 10px;
    border: 3px solid #ffffff;
    padding: 20px 20px;
    background-color: #5d5151;
    display: grid;
    gap: 12px;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 60px 60px 60px 60px ;
}
.calc_keys{
    font-weight: 600;
    border: none;
    font-size: 30px;
    background-color: #fff42d;
    border-radius: 50%;
    box-shadow: 4px 4px 0px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset{
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
}