body{
    background-color: #d4d2d2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    background-color: #ba6969;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    padding: 8px 15px;
}